/* SAS */
header .logoizq {
  width: 8rem;
}
header .fuentes {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 2rem;
  color: #f4f4f4;
}
header li {
  color: #f4f4f4;
}
header a:hover {
  background-color: #d61a1a;
  color: #f4f4f4;
}
header .colorBtn {
  color: #f4f4f4;
  background-color: #d61a1a;
  border-radius: 1px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
}

.navegador {
  border-bottom: 1px solid #d61a1a;
  text-align: center;
  padding: 10px 15px;
  color: #f4f4f4;
  border-radius: 1px;
  font-weight: bold;
  font-size: 20px;
}

main .lead {
  text-align: center;
}
main .h1 {
  text-align: center;
  text-decoration: none;
  margin: 20px 0px;
}
main .respuestasadudas {
  text-align: center;
  background-color: #2c2b2b;
  color: #d61a1a;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0px;
}
main .imgdedudas {
  align-items: flex-start;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}
main .h2 {
  font-size: 40px;
  padding: 10px;
  width: auto;
  text-align: left;
  font-weight: bold;
}
main .textojuegofre {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border-bottom: 10px;
  font-weight: bold;
}
main .produ {
  text-align: center;
  background-color: #2c2b2b;
  color: #d61a1a;
  font-weight: bold;
  text-transform: uppercase;
}
main .colorprobtn {
  color: #f4f4f4;
  background-color: #d61a1a;
  border-radius: 1px;
  font-weight: bold;
  font-size: 20px;
}
main .card {
  margin: 10px;
  width: 90%;
  display: inline-block;
}
main .card-title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 5px;
  font-weight: bold;
  font-size: 15px;
}
main .card-text {
  text-align: center;
  margin-top: 5px;
  font-size: 15px;
}
main .card-img-top {
  max-width: 200%;
  height: auto;
  width: 100%;
}
main .quienessomos {
  text-align: center;
  background-color: #2c2b2b;
  color: #d61a1a;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0px;
}
main .textquienesomos {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border-bottom: 10px;
  font-weight: bold;
}
main .whatsaapnos {
  display: block;
  margin: 20px;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
main .codydescuento {
  text-align: center;
  background-color: #2c2b2b;
  color: #d61a1a;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0px;
}
main .formulariodecontacto {
  background-color: rgb(230, 228, 228);
  display: inline-block;
  justify-content: center;
  color: #d61a1a;
  width: 100%;
  padding: 30px 30px;
  font-size: 20px;
  font-weight: bold;
  border: 7px solid #d61a1a;
}

.colorBtn {
  color: #f4f4f4;
  background-color: #d61a1a;
  border-radius: 1px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
}

.juego {
  font-size: 40px;
  padding: 10px;
  width: auto;
  text-align: left;
  font-weight: bold;
}

@media (max-width: 500px) {
  .imgdedudas {
    color: #2c2b2b;
    display: none;
  }
}
footer .footcol li {
  color: blanchedalmond;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}
footer .footcol li a:hover {
  background-color: #d61a1a;
  color: blanchedalmond;
}
footer .derechos {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

* body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
}

/*# sourceMappingURL=estilo.css.map */
