main {
    .lead {
        text-align: center;
    }

    .h1 {
        text-align: center;
        text-decoration: none;
        margin: 20px 0px;
    }

    .respuestasadudas {
        text-align: center;
        background-color: #2c2b2b;
        color: #d61a1a;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 0px;
    }

    .imgdedudas {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 5px;
        align-items: center;
        justify-content: center;
        display: flex;


    }


    .h2 {
        font-size: 40px;
        padding: 10px;
        width: auto;
        text-align: left;
        font-weight: bold;
    }

    .textojuegofre {
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        border-bottom: 10px;
        font-weight: bold;
    }

    .produ {
        text-align: center;
        background-color: #2c2b2b;
        color: #d61a1a;
        font-weight: bold;
        text-transform: uppercase;
    }

    .colorprobtn {
        color: #f4f4f4;
        background-color: #d61a1a;
        font-weight: bold;
        font-size: 20px;
    }

    .card {
        max-width: 100%;
        height: auto;
        max-height: 100%;
        width: auto;
        display: block;
        padding: 10px 10px;
        margin: 10px 10px;


    }

    .card-title {
        text-align: center;
        text-transform: uppercase;
        margin-top: 5px;
        font-weight: bold;
        font-size: 15px;
    }

    .card-text {
        text-align: center;
        margin-top: 5px;
        font-size: 15px;
    }

    .card-img-top {
        max-width: 200%;
        height: auto;
        width: 100%;


    }

    .quienessomos {
        text-align: center;
        background-color: #2c2b2b;
        color: #d61a1a;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 0px;
    }

    .textquienesomos {
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        border-bottom: 10px;
        font-weight: bold;
    }


    .codydescuento {
        text-align: center;
        background-color: #2c2b2b;
        color: #d61a1a;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 0px;
    }

    .formulariodecontacto {
        background-color: rgb(230, 228, 228);
        max-width: 100%;
        height: auto;
        max-height: 100%;
        width: auto;
        color: #d61a1a;
        padding: 20px;
        margin: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        border: 2px solid #d61a1a;


    }



}

.colorBtn {
    color: #f4f4f4;
    background-color: #d61a1a;
    font-weight: bold;
    font-size: 20px;

}

.juego {
    font-size: 30px;
    padding: 10px;
    width: auto;
    text-align: left;
    font-weight: bold;
}

.overflow-hidden {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto;

}
