main {
    .lead {
        text-align: center;
    }

    .h1 {
        text-align: center;
        text-decoration: none;
        margin: 20px 0px;
    }

    .respuestasadudas {
        text-align: center;
        background-color: #2c2b2b;
        color: #d61a1a;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 0px;
    }

    .imgdedudas {
        align-items: flex-start;
        max-width: 450px;
        display: block;
        margin: 0 auto;
        padding: 5px;


    }


    .h2 {
        font-size: 40px;
        padding: 10px;
        width: auto;
        text-align: left;
        font-weight: bold;
    }

    .textojuegofre {
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        border-bottom: 10px;
        font-weight: bold;
    }

    .produ {
        text-align: center;
        background-color: #2c2b2b;
        color: #d61a1a;
        font-weight: bold;
        text-transform: uppercase;
    }

    .colorprobtn {
        color: #f4f4f4;
        background-color: #d61a1a;
        border-radius: 1px;
        font-weight: bold;
        font-size: 20px;
    }

    .card {

        margin: 10px;
        width: 90%;
        display: inline-block;
    }

    .card-title {
        text-align: center;
        text-transform: uppercase;
        margin-top: 5px;
        font-weight: bold;
        font-size: 15px;
    }

    .card-text {
        text-align: center;
        margin-top: 5px;
        font-size: 15px;
    }

    .card-img-top {
        max-width: 200%;
        height: auto;
        width: 100%;


    }

    .quienessomos {
        text-align: center;
        background-color: #2c2b2b;
        color: #d61a1a;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 0px;
    }

    .textquienesomos {
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        border-bottom: 10px;
        font-weight: bold;
    }

    .whatsaapnos {
      text-align: center;
        width: 50px;
        height: 50px;
        font-size: 5px;
        padding: 10px 10px;
       margin: 10px 10px;

    }

    .codydescuento {
        text-align: center;
        background-color: #2c2b2b;
        color: #d61a1a;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 0px;
    }

    .formulariodecontacto {
        background-color: rgb(230, 228, 228);
        display: inline-block;
        justify-content: center;
        color: #d61a1a;
        width: 100%;
        padding: 30px 30px;
        font-size: 20px;
        font-weight: bold;
        border: 7px solid #d61a1a;

    }



}

.colorBtn {
    color: #f4f4f4;
    background-color: #d61a1a;
    border-radius: 1px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    margin-top: 20px
}

.juego {
    font-size: 30px;
    padding: 10px;
    width: auto;
    text-align: left;
    font-weight: bold;
}

.overflow-hidden {
 display: block;
 margin-top: 40px;
 align-items: flex-start;
 text-align: center;
 


}




@media (max-width:400px) {
    .imgdedudas {
        color: #2c2b2b;
        display: none;
    }
}